@model List<ResultTestimonialDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Yorum Islemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Yorum Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Yorumlar ile ilgili islemleri asagidan gerceklestirebilirsiniz
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ad Soyad</th>
									<th scope="col">Durum</th>
									
									<th scope="col">Sil</th>
									<th scope="col">Guncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<th> @count </th>
										<td>@item.Name</td>
										<td>@item.Status</td>

										<td> <a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-outline-danger">SIL</a> </td>
										<td> <a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-success">GUNCELLE</a> </td>
									</tr>
								}

							</tbody>
						</table>
						<a href="/Testimonial/CreateTestimonial/" class="btn btn-outline-primary">Yeni Yorum Girisi</a>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>

